<!-- <ul>   
    <div *ngFor="let task of tasks">     
  <p>{{task.id + 1}}. {{task.name}}:
    <button class="btn btn-outline-danger" style="float:right;margin-left: 5px;" (click)="onClickDelete()">Delete</button>
    <button class="btn btn-outline-secondary" style="float:right;" (click)="onClickView()">View</button>
  </p>
  
  </div> 
  </ul>
   -->

  <div>
      <div class="row">
        <div class="col-sm-6">

      <a routerLink="/task-details/{{task.id}}" routerLinkActive="active">
        <p>{{task.id + 1}}. {{task.name}}:</p>
      </a>

    </div>
    <br><br> 
    <div class="col-sm-2">
          <button class="btn btn-outline-danger" style="margin-left:225px;" (click)="onClickDelete()">Delete</button>
      </div>
      </div>

 